.am-slides{
	width: 100%;
    overflow: hidden;
    margin: 0;
    list-style: none;
}
 
.am-slider-default .am-direction-nav a:before{
	color: white;
}
.am-slider-default .am-control-nav li a.am-active{
	background: #f0f0f0;
}
.am-slider-default .am-control-nav li a{
	width: 8px;
	height: 8px;
	border-radius: none;
}
.am-slider-default .am-control-nav{
	bottom:-2px;
}
/*QueListCPT*/
#qsspan1{
	display: none;
}
.qsstatus{
	margin: 10px 20px 0 20px;
	font-size: 0.6em;
}
.qstitle{
	margin: 0 20px;
	font-size: 16px;
	color: #0e90d2;
	word-wrap: break-word;
}
#qscontent{
	margin: 0;
	padding: 0;
	margin: 0 20px 0 20px;
	font-size: 14px;
	color: #757575;
	font-weight: 400;
}
.gap{
	width: 100%;
	height: 8px;
	background-color:#F5F2F2
}

/*hflb*/
#hftitle{
	margin: 15px 20px 10px 20px;
	font-size: 16px;
	color: black;
	word-wrap: break-word;
}
#mscontent{
	margin: 0 20px 30px 20px;
	font-size: 14px;
	color: #757575;
	  font-weight: 400;
}
.hfname{
	margin: 20px 20px 0 20px;
	padding: 0;
	color: #0e90d2;
	font-size: 0.6em;
}
.hfcontent{
	margin: 5px 20px 0 20px;
	padding: 0;
	color: #757575;
	font-size: 0.6em;
}
.time{
	float: right;
	margin-top: -30px;
	color: #0e90d2;
	margin-right: 20px;
}

  /*ZxlslbCPT*/
  .zxls{
  	float: left;
  }
  .vname{
  	color: #0e90d2;
  	margin: 5px 20px 0 20px;
  }
  .trequirement{
  	color: #757575;
  	font-size: 0.8em;
  	margin: 5px 20px 0 20px;
  	float: left;
  }
  .zxbtn{
  	float: right;
  }
  .titlezx{
  	font-size: 1.4em;
  	margin: 0;
  	padding: 0;
  	margin-left: 20px;
  	color:#0e90d2;
  }
  .lists{
  	float: left;
  }

  /*Zjzx*/
  .form1{
  	width: 100%;
  	margin: 40px 0 0 20px;
  }
  #zxtitle,#zxphone,#zxcontent,.zxlaw{
  	width: 80%;
  	border: 0;
  	border-bottom: 1px solid #0e90d2;
  	font-size: 0.8em;
  }
  .btnsubmit{
  	display: block;
  	width: 80%;
  	margin: 20px 0 0 0;
  }

  /*tzxq*/
  .total{
  	position: absolute;
  	overflow-y: scroll;
  }
 #replydiv{
 	position: fixed;
 	background-color: white;
    height: 34px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
 }
 #replyinput{
 	position: relative;
 	width: 80%;
 	border:0;
 	margin-left: 5%;
 	border-bottom: 1px solid #0e90d2;
 	background:transparent; 
 	outline: none;
 	font-size: 0.8em;
 }
 #replyplane{
	position: relative;
	margin-left: 4%;
 }
 /*LxlslbCPT*/
 .lxlists{
    width: 100%;
 }
 .lxname{
    display:inline-block;
    width: 20%; 
    color: #0e90d2;
    margin: 5px 0 0 20px;
 }
 .onlientime{
    display: inline-block;
    margin: 5px 0 0 10%;
    width: 60%;
 }